# ~/.GH/Qompass/Qssh/etc/sshd_config
# ----------------------------------
# Copyright (C) 2025 Qompass AI, All rights reserved
Include /etc/ssh/sshd_config.d/*.conf
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
UsePAM yes
AllowAgentForwarding yes
AllowTcpForwarding yes
PermitTTY yes
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
PermitTunnel yes
Subsystem       sftp    /usr/lib/ssh/sftp-server
